@tailwind base;
@tailwind components;
@tailwind utilities;

/* Contactus.css */
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes borderPulse {
    0%, 100% {
      border-color: #3b82f6;
    }
    50% {
      border-color: #1d4ed8;
    }
  }
  
  .animate-fade-in {
    animation: fadeIn 2s ease-in-out;
  }
  
  .animate-border-pulse {
    animation: borderPulse 2s infinite;
  }
  
  .focus\:shadow-outline:focus {
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
  }
   